doctype html
html
  head
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet',href='/stylesheets/bootstrap.css')
      script(src='/javascripts/jquery-3.1.1.slim.min.jss')
      script(src='/javascripts/bootstrap.js')
      title= title
  body
    block content
